@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;400;500;700;800;900&family=Nunito:wght@500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --Nunito-font: 'Nunito', sans-serif;
    --Arima-font: 'Arima Madurai', cursive;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    list-style: none;
    font-family: var(--Nunito-font);
}

.arima-heading {
    font-family: var(--Arima-font);
}

.btn-bg {
    background: #402A2E;
    color: #FFF;
}





.bt-box {
    display: inline-block;
    width: 430px;
    height: 578px;
    background: #d5d6d8;
}

.vi-box {
    display: block;
    width: 480px;
    height: 457px;
    background: #d5d6d8;
}

.lmc-box {
    display: inline-block;
    width: 240px;
    height: 240px;
    background: #d5d6d8;
}

.cd-box {
    display: block;
    width: 792px;
    height: 489px;
    background: #d5d6d8;
}


.he {
    min-height: 100vh;

}

.t {
    float: left;
    text-align: justify;
}

/* Landing page extra styles */
.header {
    background: linear-gradient(0deg, rgba(243, 229, 232, 0.72), rgba(243, 229, 232, 0.72)), url('assets/img/header-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.color1 {
    color: #402A2E;
}

.resources-header {
    background: linear-gradient(0deg, rgba(64, 42, 46, 0.53), rgba(64, 42, 46, 0.53)), url(assets/img/resources-bg.jpg), #F3E5E8;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Login & Sign Up Styles */
.session-bg {
    background: #F8F1F2;
}

.contact {
    background: linear-gradient(180deg, #402A2E 57.48%, #F9F9F9 57.49%);
}

.contact-content {
    width: 1366px;
    height: 736px;
    left: 37px;
    top: 144px;
    box-shadow: 2px 4px 25px 10px rgba(0, 0, 0, 0.2);
}