@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;400;500;700;800;900&family=Nunito:wght@500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --Nunito-font: 'Nunito', sans-serif;
    --Arima-font: 'Arima Madurai', cursive;
  }


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    list-style: none;
    font-family: var(--Nunito-font);
}

.arima-heading{
    font-family: var(--Arima-font);
}

.btn-bg{
    background: #402A2E;
    color: #FFF;
}





.bt-box {
    display: inline-block;
    width: 430px;
    height: 578px;
    background: #d5d6d8;
}

.vi-box {
    display: block;
    width: 480px;
    height: 457px;
    background: #d5d6d8;
}

.lmc-box {
    display: inline-block;
    width: 240px;
    height: 240px;
    background: #d5d6d8;
}

.cd-box {
    display: block;
    width: 792px;
    height: 489px;
    background: #d5d6d8;
}





.he {
    min-height: 100vh;

}

.t {
    float: left;
    text-align: justify;
}





/* Styles for Forgot Password Page */
.first-col {
    width: 720px;
    height: 1024px;
    background: #C0C2C4;
}

.second-col {
    width: 720px;
    height: 1024px;
    background: #E6E7E7;
}

.content {
    width: 481px;
    height: 90%;
}

.texts {
    width: 422px;
}

.texts h2 {
    font-weight: 600;
    font-size: 35px;
}

.texts p {
    font-weight: 500;
    margin: 13px 0 20px;
}

.input-color {
    color: #C0C2C4;
}

.label-color {
    color: #2B2C2E;
}

input {
    border: 1px solid #D5D6D8;
}